:root {
    --transition: all 0.2s ease-in-out 0s;
}

#alert {
    position: fixed;
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    margin: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
}

#alert.active {
    top: 50px;
    opacity: 1;
}

#sidebar {
    display: inline-flex;
    float: left;
    width: 250px;
}

#sidebar .sidebar-wrapper {
    width: 100%;
}

#main {
    display: inline-flex;
    float: left;
    width: calc(100% - 250px);
}

.main-wrapper {
    width: 100%;
}

.main-inner {
    height: 100%;
    position: relative;
}

#canvas {
    width: 595px;
    height: 842px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav .sub-nav {
    padding-left: 10px;
}

.nav-head {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-text i {
    padding-right: 5px;
}

.nav-link:hover > .nav-text.text-white {
    opacity: 0.5;
}

.component {
    margin-bottom: 20px;
    position: relative;
}

.component::after {
    --offset: 10px;
    content: '';
    position: absolute;
    top: calc(var(--offset) * -1);
    left: calc(var(--offset) * -1);
    width: calc(100% + var(--offset) * 2);
    height: calc(100% + var(--offset) * 2);
    z-index: -1;
    border: 2px dashed #aaaaaa;
    opacity: 0;
    transition: var(--transition);
}

.component .btn-group {
    opacity: 0.2;
    filter: grayscale(1);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.component:hover .btn-group {
    opacity: 1;
    filter: unset;
}

.component:hover::after {
    opacity: 1;
}